body{
    background-color:aliceblue ;
    margin: 0;
}
.contPadre{
    display: flex;
    flex-direction: column; 
}
.contPadre > div:first-child{
    display:flex;
}
  
.buscador2{
    display: flex;
}
.buscador2 ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: rgba(0,0,0,0.2);
}
.buscador2 ul li {float: right;}

.buscador2 li a{
    display: flex;
    color: white;
    text-align: center;
    padding: 14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.buscador2 li a:hover{background-color: #4CAF50;}  

.buscador2 li h1{
    margin-right: 1000px;
}
.nombreP{
    display: block;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-left: 9px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin :0;
    height:40px; 
    border-left: 5px solid #4CAF50;
    cursor: pointer;
    transition: 0.3s 0.2s;
}

.contPadre > div:nth-child(2){
    display:flex;
    justify-content:center;
    width: 99.9vw;
    height:60px;
    align-items: center;
    background-color: rgb(31, 73, 109);
}

.contPadre > div:nth-child(2) h1{
    text-align:center;
    color:white;
}

.tabla{
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#out{
    border-style: none;
    border-radius: 15px;
    color:white;
    background-color:#4CAF50;
    width:200px;
    height: 50px;
    cursor: pointer;
}